body {
	background: black;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 400px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 60px;
	height: 60px;
}
.postcard-header h1 {
	width: 750px;
	margin: none;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: none;
}
.body-left,
.body-right {
	padding: 10px;
}
.body-right {
	color: darkgray;
}
p {
	font-size: medium;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 10px;
}
h1 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
